<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Курсовая.Properties.Settings.Пользователи12ConnectionString"
            connectionString="Data Source=DESKTOP-2E3S9D9\SQLEXPRESS;Initial Catalog=Пользователи12;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>